<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lion.coursesarrange.mapper.RoomMapper">

    <select id="selectByCondition" resultType="com.lion.coursesarrange.model.pojo.Room">
        select * from room
        <where>
            <if test="room.roomName != null and room.roomName != ''">
                and roomName like "%" #{room.roomName} "%"
            </if>
            <if test="room.capacity !=null ">
                and capacity = #{room.capacity}
            </if>
        </where>
    </select>

    <delete id="deleteByIds">
        delete from room where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


</mapper>